<!DOCTYPE html>
<html style="margin:20px;">
<head>
	<title>AnimalsDashboard</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
</head>
<body>
	<h4>Name: <%= Animals.name %></h4>
	<h4>Age: <%= Animals.age %></h4>
	<h4>Favorite Food: <%= Animals.food %></h4>
	
	
	<form action="/Animals/delete/<%= Animals.id %>" method="post" style='display: inline-block;'>
		<button style="margin-top: 30px;" class="btn btn-default">Delete Animals</button>
	</form>
	<form action="/Animals/edit/<%= Animals.id %>" method="post" style='display: inline-block;'>
		<button style="margin-top: 30px;" class="btn btn-default">Edit Animals</button>
	</form>
	<form action="/" method="get" style='display: inline-block;'>
		<button style="margin-top: 30px;" class="btn btn-default">Back to Dashboard</button>
	</form>
</body>
</html>